@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --green: #23a455;
  --dark-blue: #192a3d;
  --white: #fff;
  --offwhite: #f5f5f5;
}

* {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: var(--dark-blue);
  font-size: large;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 300;
}
header .breaking-news {
  background-color: #1976D2;
  color: white;
  padding: 15px 0;
  text-align: start;
}
header .breaking-news .container .breaking-news-content .breaking-news-title {
  font-weight: bold;
}
header .breaking-news .container .breaking-news-content a {
  color: white;
  text-decoration: underline;
}

.topnav-desk {
  background-color: var(--dark-blue);
  padding-top: 15px;
  padding-bottom: 15px;
}
.topnav-desk .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav-desk .contacts ol {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.topnav-desk .contacts li a {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: #a3b0bf;
}
.topnav-desk .social-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.topnav-desk .social-icons li a {
  color: #a3b0bf;
}

.topnav-mobile {
  display: none;
  background-color: var(--dark-blue);
  padding-bottom: 10px;
  padding-top: 10px;
}
.topnav-mobile .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav-mobile .container a {
  padding: 6px 15px 6px 15px;
  border-radius: 5px;
  color: white;
}
.topnav-mobile .container .login {
  border: 1px solid var(--offwhite);
}

nav {
  background-color: white;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: start;
}
nav .buttons {
  display: flex;
  gap: 20px;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  width: 60px;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  padding: 0 0.7vw;
  justify-content: end;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  color: var(--dark-blue);
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: var(--green);
}

.nav-links li {
  position: relative;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--dark-blue);
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  .topnav-desk {
    display: none;
  }
  .topnav-mobile {
    display: block;
  }
  nav {
    z-index: 3;
    align-items: center;
  }
  nav .buttons {
    display: none;
  }
  .hamburger {
    margin-top: 20px;
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    padding-top: 150px;
    position: fixed;
    top: 0;
    background: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

img {
  width: 100%;
}

li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding-top: 20;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  border: none;
  padding-top: 20;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--dark-blue);
  color: white;
}

.btn-green {
  background-color: var(--green);
  color: white;
}

.submit-btn {
  border: none;
  padding-top: 20;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  width: 103%;
}

.btn-white {
  background-color: white;
  color: var(--green);
}

.container {
  margin: auto;
  width: 80vw;
}

section {
  padding: 0px;
}

.form-control {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(25, 42, 61, 0.737254902);
  margin-bottom: 10px;
}
.form-control div p {
  margin-bottom: 15px;
}
.form-control::-moz-placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #181818;
  font-size: large;
}
.form-control:-ms-input-placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #181818;
  font-size: large;
}
.form-control::placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #181818;
  font-size: large;
}

section .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading {
  color: var(--green);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
  color: var(--dark-blue);
}

.sub-heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 20px;
  color: var(--green);
}

.big-heading {
  font-size: 60px;
  color: white;
}

.white-color {
  color: white;
}

.heading-section {
  background: url("/static/img/imbonizarwo theatre and music band.jpg");
  background-size: cover;
  background-position: top center;
  background-color: rgba(25, 42, 61, 0.7725490196);
  background-blend-mode: overlay;
  padding: 150px 5vw 50px 5vw;
  color: whitesmoke;
}
.heading-section .container {
  width: 100%;
}
.heading-section .container .heading {
  color: white;
}

@media screen and (min-width: 540px) {
  .heading-section {
    padding: 150px 15vw 50px 15vw;
  }
}
@media screen and (min-width: 780px) {
  .heading-section {
    padding: 150px 25vw 50px 25vw;
  }
}
@media screen and (min-width: 540px) {
  form .half-form-elements {
    display: grid;
    grid-template-columns: 46% 46%;
    justify-content: space-between;
  }
  form .half-form-elements div p {
    margin-bottom: 15px;
  }
  form .full-form-elements {
    display: grid;
    width: 100%;
  }
  form .full-form-elements div p {
    margin-bottom: 15px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: start;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero-section {
  padding: 0;
  padding-top: 200px;
  background: url("/static/img/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(25, 42, 61, 0.4078431373);
  background-blend-mode: overlay;
}
.hero-section .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-section .container .col-left {
  background-color: rgba(242, 245, 247, 0.7411764706);
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}
.hero-section .container .col-left h1 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: lighter;
}
.hero-section .container .col-left p {
  margin-top: 20px;
}
.hero-section .container .col-left .call-to-action {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-section .container .col-left .call-to-action .wath-video {
  background-color: rgba(24, 24, 24, 0);
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.hero-section .container .col-left .call-to-action .wath-video span {
  font-size: 16px;
}
.hero-section .container .col-left .imboni-video {
  display: none;
  width: 80vw;
  position: absolute;
  top: 0;
  transition: ease-in-out 0.3s;
  text-align: start;
  margin-bottom: 20px;
}
.hero-section .container .col-left .imboni-video img {
  width: 32px;
}
.hero-section .container .col-left .imboni-video .video {
  position: relative;
}
.hero-section .container .col-left .imboni-video .video iframe {
  height: 200px;
}
.hero-section .container .col-right .updates {
  text-align: start;
  background-color: rgba(242, 245, 247, 0.7411764706);
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}
.hero-section .container .col-right .updates .updates-list {
  margin-top: 30px;
}
.hero-section .container .col-right .updates .updates-list li a {
  display: flex;
  gap: 10px;
  color: #181818;
}
.hero-section .container .col-right .updates .updates-list li a img {
  width: 30px;
}

.about-us {
  background: url("/static/img/00-story-protest.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: rgba(25, 42, 61, 0.662745098);
  background-blend-mode: overlay;
  color: var(--offwhite);
}
.about-us .container {
  padding: 70px 0 70px 0;
}
.about-us .container p {
  margin-bottom: 20px;
}

.projects .container .col-left p {
  margin-bottom: 20px;
}
.projects .container .col-left button {
  display: none;
}
.projects .container .col-right {
  margin-top: 50px;
}
.projects .container .col-right .projects-card {
  display: grid;
  gap: 20px;
}
.projects .container .col-right .projects-card .project {
  position: relative;
}
.projects .container .col-right .projects-card .project img {
  border-radius: 5px;
}
.projects .container .col-right .projects-card .project .project-title {
  color: white;
  position: absolute;
  top: 270px;
  left: 20px;
}

.programs {
  background: url("/static/img/Imbonizarwo students benefiriaries.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: rgba(25, 42, 61, 0.662745098);
  background-blend-mode: overlay;
  color: var(--offwhite);
}
.programs .container .programs-card {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}
.programs .container .programs-card .program {
  color: #192a3d;
  background-color: rgba(242, 245, 247, 0.8941176471);
  padding: 30px;
  border-radius: 5px;
}
.programs .container .programs-card .program p {
  margin: 20px 0;
}

.stories .container .col-left button {
  margin-top: 20px;
}
.stories .container .col-right {
  margin-top: 50px;
}
.stories .container .col-right .story-card {
  display: grid;
  gap: 20px;
}
.stories .container .col-right .story-card .story {
  padding: 30px;
  border-radius: 5px;
  color: white;
}
.stories .container .col-right .story-card .first {
  background-color: #192a3d;
}
.stories .container .col-right .story-card .second {
  background-color: #23a455;
}
.stories .container .col-right .story-card .third {
  background-color: #192a3d;
}
.stories .container .col-right .story-card .fourth {
  background-color: #23a455;
}

.get-involved {
  background: url("/static/img/Imbonizarwo members dancing traditionally.jpg");
  background-position: top center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-color: rgba(25, 42, 61, 0.8431372549);
  background-blend-mode: overlay;
  color: var(--offwhite);
}
.get-involved .container {
  padding: 70px 0 70px 0;
}
.get-involved .container p {
  margin-bottom: 20px;
}

.blog .container .blogs {
  display: grid;
  gap: 20px;
}
.blog .container .blogs a {
  color: #192a3d;
}
.blog .container .blogs a .blog {
  background-color: var(--offwhite);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 5px;
  text-align: start;
}
.blog .container .blogs a .blog img {
  height: 100px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.blog .container .blogs a .blog .blog-title {
  font-weight: lighter;
}
.blog .container .blogs a .blog .blog-description {
  display: none;
}

.partners {
  background: url("/static/img/imbonizarwo visits a member.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: rgba(25, 42, 61, 0.662745098);
  background-blend-mode: overlay;
  color: var(--offwhite);
}
.partners .container .partners-card {
  background-color: rgba(242, 245, 247, 0.8431372549);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.partners .container .partners-card .partner-logo {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  justify-items: center;
}
.partners .container .partners-card .partner-logo img {
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

.get-in-touch .container .col-left .contact-icons {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.get-in-touch .container .col-left .contact-icons a i {
  display: flex;
  align-items: center;
  color: var(--green);
  font-size: 30px;
}
.get-in-touch .container .col-left .contact-icons a i span {
  color: var(--dark-blue);
  margin-left: 10px;
  font-size: 20px;
  font-weight: normal;
}
.get-in-touch .container .col-left .contact-icons .social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.get-in-touch .container .col-right {
  padding: 50px 30px;
}
.get-in-touch .container .col-right .form-description {
  padding-bottom: 60px;
}

footer {
  background-color: #192a3d;
  color: var(--offwhite);
}
footer a {
  color: white;
}
footer .title-title {
  font-size: 24px;
  margin-bottom: 20px;
}
footer .container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .social-media {
  background-color: #284260;
  padding: 20px;
  border-radius: 5px;
}
footer .container .social-media .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
footer .container .social-media .social-icons a i {
  font-size: 34px;
}
footer .container .important-links {
  background-color: #284260;
  padding: 20px;
  border-radius: 5px;
}
footer .container .important-links ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@media screen and (min-width: 540px) {
  .hero-section .container {
    width: 80vw;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 150px 0;
  }
  .hero-section .container .col-left {
    text-align: start;
    width: 50%;
    background: none;
  }
  .hero-section .container .col-left h1 {
    font-size: 40px;
    color: whitesmoke;
  }
  .hero-section .container .col-left p {
    font-size: 22px;
    color: whitesmoke;
  }
  .hero-section .container .col-left .call-to-action {
    flex-direction: row;
  }
  .hero-section .container .col-left .call-to-action .wath-video {
    color: whitesmoke;
    font-size: 50px;
  }
  .hero-section .container .col-left .call-to-action .wath-video span {
    font-size: 20px;
  }
  .hero-section .container .col-left .imboni-video {
    display: none;
    width: 80vw;
    position: absolute;
    top: -100px;
    transition: display 0.5s;
    text-align: start;
    margin-bottom: 20px;
  }
  .hero-section .container .col-left .imboni-video img {
    width: 32px;
  }
  .hero-section .container .col-left .imboni-video .video {
    position: relative;
  }
  .hero-section .container .col-left .imboni-video .video iframe {
    height: 400px;
  }
  .hero-section .container .col-right {
    width: 50%;
    align-self: flex-end;
  }
  .projects .container .col-right .projects-card {
    grid-template-columns: 50% 50%;
  }
  .projects .container .col-right .projects-card .project .project-title {
    top: 200px;
  }
  .programs .container .programs-card {
    grid-template-columns: 32% 32% 32%;
  }
  .stories .container .col-right {
    width: 50%;
  }
  .stories .container .col-right .story-card {
    grid-template-columns: 44.5% 44.5%;
  }
  .stories .container .col-right .story-card .third {
    background-color: #23a455;
  }
  .stories .container .col-right .story-card .fourth {
    background-color: #192a3d;
  }
  .blog .container .blogs {
    grid-template-columns: 50% 50%;
  }
  .partners .container .partners-card .partner-logo {
    grid-template-columns: 30% 30% 30%;
  }
}
@media screen and (min-width: 760px) {
  .hero-section {
    height: 768px;
    padding: 0;
    padding-top: 120px;
  }
  .hero-section .container .col-left h1 {
    font-size: 60px;
    font-weight: bold;
  }
  .hero-section .container .col-right {
    padding-left: 50px;
  }
  .hero-section .container .col-right .updates {
    margin: 0;
  }
  .about-us .container p {
    margin: 20px 25% 70px 25%;
  }
  .projects .container {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .projects .container .col-left {
    width: 40%;
    text-align: start;
  }
  .projects .container .col-left p {
    margin-right: 25%;
  }
  .projects .container .col-left button {
    display: block;
  }
  .projects .container .col-right {
    width: 60%;
  }
  .projects .container .col-right .projects-card {
    grid-template-columns: 46% 46%;
    justify-content: end;
  }
  .projects .container .col-right .projects-card .project .project-title {
    top: 200px;
  }
  .programs .container .programs-card {
    grid-template-columns: 32% 32% 32%;
  }
  .programs .container .programs-card .program {
    padding: 50px;
  }
  .stories .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  .stories .container .col-left {
    width: 40%;
    text-align: start;
  }
  .stories .container .col-right {
    width: 60%;
  }
  .stories .container .col-right .story-card {
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }
  .get-involved .container p {
    margin: 0 25% 100px 25%;
  }
  .blog .container .blogs {
    grid-template-columns: 32% 32% 32%;
  }
  .blog .container .blogs a .blog {
    flex-direction: column;
    align-items: start;
  }
  .blog .container .blogs a .blog img {
    width: 100%;
    height: 200px;
  }
  .blog .container .blogs a .blog .blog-title {
    margin: 0 20px;
    font-weight: bold;
  }
  .blog .container .blogs a .blog .blog-description {
    display: block;
    margin: 0 20px 20px 20px;
  }
  .blog .container .blogs a .blog .blog-description span {
    color: var(--green);
    text-decoration: underline;
  }
  .partners .container .partners-card {
    margin-bottom: 50px;
  }
  .partners .container .partners-card .partner-logo {
    grid-template-columns: 17% 17% 17% 17% 17%;
    justify-content: space-between;
  }
  .get-in-touch .container {
    display: flex;
    gap: 50px;
  }
  .get-in-touch .container .col-left {
    width: 50%;
    text-align: start;
  }
  .get-in-touch .container .col-left .contact-icons {
    padding-top: 20PX;
    align-items: flex-start;
    gap: 10px;
  }
  .get-in-touch .container .col-left .contact-icons a i {
    font-size: 24px;
  }
  .get-in-touch .container .col-right {
    width: 50%;
    padding: 0;
  }
  .get-in-touch .container .col-right .form-description {
    display: none;
  }
  footer {
    text-align: start;
  }
  footer .container {
    display: grid;
    grid-template-columns: 49% 49%;
  }
  footer .container .social-media {
    background: var(--dark-blue);
  }
  footer .container .social-media .social-icons {
    justify-content: start;
  }
  footer .container .important-links {
    padding: 0;
    background-color: rgba(24, 24, 24, 0);
  }
  footer .container .important-links ol {
    flex-direction: row;
    justify-content: first baseline;
    gap: 10px;
  }
  footer .container .footer-blog {
    padding: 0;
  }
}
.our-history {
  background-color: whitesmoke;
}

.documentation .container .documents-categorties {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.documentation .container .documents-categorties .document-category {
  background-color: var(--offwhite);
  padding: 30px;
  border-radius: 5px;
  text-align: start;
}
.documentation .container .documents-categorties .document-category ol {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.documentation .container .documents-categorties .document-category ol li a {
  margin-left: 20px;
  color: var(--green);
}

.member {
  background: url("/static/img/Imbonizarwo members at nyanza!.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(25, 42, 61, 0.8274509804);
  background-blend-mode: overlay;
  color: white;
}
.member .container {
  padding-top: 150px;
  padding-top: 150px;
}
.member .container p {
  margin-bottom: 40px;
}

.social-media {
  background-color: var(--offwhite);
}
.social-media .container p {
  margin-bottom: 30px;
}
.social-media .container .social-media-list {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  justify-content: space-between;
}
.social-media .container .social-media-list a img {
  width: 130px;
  height: 130px;
}

.vision-mission-about .container .col-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vision-mission-about .container .col-left .card {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 5px;
}
.vision-mission-about .container .col-right {
  display: none;
}

.team .container .team-grid {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 5px;
  justify-content: space-between;
}
.team .container .team-grid .team-member {
  margin-bottom: 20px;
  text-align: start;
}
.team .container .team-grid .team-member .member-name {
  font-size: 16px;
  font-weight: bold;
}
.team .container .team-grid .team-member .member-social-icons {
  display: flex;
  gap: 10px;
}
.team .container .team-grid .team-member .member-social-icons a {
  color: var(--dark-blue);
}

@media screen and (min-width: 760px) {
  .our-history .container .history-content {
    -moz-column-count: 2;
         column-count: 2;
    text-align: start;
  }
  .documentation .container .documents-categorties {
    flex-direction: row;
    justify-content: space-between;
  }
  .documentation .container .documents-categorties .document-category {
    padding: 50px;
  }
  .member .container {
    width: 40vw;
  }
  .social-media .container p {
    margin: 0 20vw;
  }
  .social-media .container .social-media-list {
    margin-top: 50px;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .vision-mission-about .container {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  .vision-mission-about .container .col-left .card {
    padding: 40px;
    text-align: start;
  }
  .vision-mission-about .container .col-right {
    display: block;
  }
  .vision-mission-about .container .col-right img {
    border-radius: 100px 0 100px 0;
  }
  .team .container .team-grid {
    grid-template-columns: 24% 24% 24% 24%;
  }
  .team .container .team-grid .team-member {
    margin-bottom: 30px;
  }
  .team .container .team-grid .team-member .member-name {
    font-size: 20px;
  }
  .team .container .team-grid .team-member .member-social-icons {
    margin-top: 10px;
  }
}
.login-section {
  background: url("/static/img/Music-In-Africa-Live-scaled.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(25, 42, 61, 0.7098039216);
  background-blend-mode: overlay;
  color: white;
}
.login-section .container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-section .container form {
  margin-top: 30px;
}
.login-section .container form .btn-login {
  width: 40%;
}

@media screen and (min-width: 760px) {
  .login-section .container {
    width: 50vw;
  }
}
@media screen and (min-width: 960px) {
  .login-section .container {
    width: 20vw;
  }
}
.get-involved-section .container .col-left .help-title {
  font-size: 28px;
  margin-bottom: 30px;
}
.get-involved-section .container .col-left .help-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.get-involved-section .container .col-left .help-cards .help-card {
  background-color: white;
  text-align: start;
  padding: 30px;
  border-radius: 5px;
}
.get-involved-section .container .col-right {
  padding: 50px 30px;
}
.get-involved-section .container .col-right .form-description {
  padding-bottom: 60px;
}

@media screen and (min-width: 760px) {
  .get-involved-section .container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 100px;
  }
  .get-involved-section .container .col-left {
    text-align: start;
  }
  .get-involved-section .container .col-right .form-description {
    display: none;
  }
}
.add-blog-form .container {
  max-width: 800px;
  padding-top: 260px;
}

.thank-you .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thank-you .container .social-media {
  background-color: white;
}
.thank-you .container .social-media .social-media-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.thank-you .container .social-media .social-media-icons a {
  color: #192a3d;
  font-size: 36px;
}

@media screen and (min-width: 540px) {
  .thank-you .container {
    max-width: 60vw;
  }
}
@media screen and (min-width: 760px) {
  .thank-you .container {
    max-width: 40vw;
  }
}
.head-seaction {
  height: 400px;
  background: url("/static/img/Music-In-Africa-Live-scaled.jpg");
  background-size: cover;
  background-position: center;
}

.application-form {
  margin: -100px 20px 0 20px;
  background-color: whitesmoke;
  text-align: start;
}
.application-form h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.application-form form {
  margin-top: 30px;
}
.application-form form .half-form-elements,
.application-form form .full-form-elements {
  width: 86%;
  margin-top: 30px;
}

@media screen and (min-width: 760px) {
  .head-seaction {
    height: 600px;
  }
  .application-form {
    margin: -200px 200px 0 200px;
    padding: 50px;
  }
  .application-form .container {
    width: auto;
  }
  .application-form .container form .half-form-elements,
.application-form .container form .full-form-elements {
    width: 95%;
  }
}
.top-section {
  margin: 0;
  padding: 0;
}
.top-section .featured-full-image {
  width: auto;
  height: 400px;
}

.content-section {
  text-align: start;
}
.content-section .container {
  width: 90%;
}
.content-section .container .featured-image {
  display: none;
}
.content-section .container .title {
  font-size: 20px;
}
.content-section .container .credits {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.content-section .container .credits .card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--offwhite);
  padding: 10px;
  border-radius: 5px;
}
.content-section .container .credits .card .icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 780px) {
  .top-section {
    z-index: 0;
    margin-bottom: -350px;
  }
  .top-section .featured-full-image {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0.5;
    z-index: 0;
  }
  .content-section {
    z-index: 2;
    position: relative;
  }
  .content-section .container .featured-image {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .top-section .featured-full-image {
    height: 600px;
  }
  .content-section {
    margin: auto;
    width: 900px;
  }
}
/*
 CSS for the main interaction
*/
.tabset > input[type=radio] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.gallery {
  text-align: start;
}
.gallery .container .tabset > input[type=radio] {
  position: absolute;
  left: -200vw;
}
.gallery .container .tabset .tab-panel {
  display: none;
}
.gallery .container .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.gallery .container .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.gallery .container .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.gallery .container .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.gallery .container .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.gallery .container .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
.gallery .container body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}
.gallery .container .tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}
.gallery .container .tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}
.gallery .container .tabset > label:hover,
.gallery .container .tabset > input:focus + label {
  color: #23a455;
}
.gallery .container .tabset > label:hover::after,
.gallery .container .tabset > input:focus + label::after,
.gallery .container .tabset > input:checked + label::after {
  background: #23a455;
}
.gallery .container .tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}
.gallery .container .tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.gallery .container .tab-panel .tab-content {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}
.gallery .container .tab-panel .tab-content img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
@media screen and (min-width: 540px) {
  .gallery .container .tab-panel .tab-content {
    grid-template-columns: 32.5% 32.5% 32.5%;
  }
  .gallery .container .tab-panel .tab-content img {
    height: 200px;
  }
}
@media screen and (min-width: 780px) {
  .gallery .container .tab-panel .tab-content {
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
  }
  .gallery .container .tab-panel .tab-content img {
    height: 250px;
  }
}

.p-content .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.p-content .container P {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 780px) {
  .p-content .container {
    width: 60%;
  }
  .p-content .container p {
    padding: 50px;
  }
}
.p-cards .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.p-cards .container .card {
  border: 1px #23a455 solid;
  padding: 20px;
  border-radius: 5px;
}
.p-cards .container .card a {
  cursor: pointer;
  color: #192a3d;
}
.p-cards .container .card a .heading {
  font-size: 18px;
}
.p-cards .container .card a p {
  background-color: var(--offwhite);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media screen and (min-width: 780px) {
  .p-cards .container {
    width: 90%;
    display: grid;
    grid-template-columns: 49% 49%;
  }
}
@media screen and (min-width: 1080px) {
  .p-cards .container {
    width: 90%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
.member-appliction {
  padding: 50px 0;
}
.member-appliction .container {
  padding: 0;
  text-align: start;
}
.member-appliction .container h3 {
  margin: 35px 0 15px 0;
}
.member-appliction .container .details {
  background-color: var(--offwhite);
  padding: 20px;
  margin-bottom: 15px;
}
.member-appliction .container ol {
  margin-top: -55px;
}
.member-appliction .container ol li {
  list-style: disc;
  list-style-type: upper-roman;
  margin: 20px;
}
.member-appliction .container .member-application-form form .elements {
  width: 93%;
}

@media screen and (min-width: 1000px) {
  .member-appliction .container {
    max-width: 1000px;
  }
}/*# sourceMappingURL=styles.css.map */