{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="thank-you">
        <div class="container">
            <h1 class="heading">You application is complete</h1>
            <p>Thank you for your application. We received 
                We received it and our team is going to review it, and if you're selected, we will reach out to you. Only selected candidates will contact through his/her email.
            </p>
            <div class="social-media">
                <h1 class="heading">Follow Us</h1>
                <div class="social-media-icons">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-youtube-square"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}