{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="heading-section">
    <div class="container">
        <div class="heading-content">
            <h1 class="heading">Our Blog</h1>

            <p>
                Explore our blog to know more about our activites, projects and programs. We have beenfeature in several newspapers in Rwanda. 
            </p>
        </div>
    </div>
</section>
<section class="blog" style="background-color: whitesmoke;">
    <div class="container">
        <h1 class="heading">Blog</h1>
        <div class="blogs">
            <div class="blog">
                <img src="/img/00-story-protest.jpg" alt="">
                <p class="blog-title">
                    Umuryango Imbonizarwo wahuje abahanzi bize ku Nyundo
                </p>
                <p class="blog-description">
                    It is a long established fact that a reader will be distracted by the readable 
                    content of a page when looking at its layout. The point of using Lorem Ipsum is 
                    that it has a more-or-less normal distribution of letters, as opposed to using 
                    'Content here, content here'.... <span class="read-more">Read more</span>
                </p>
            </div>

            <div class="blog">
                <img src="/img/00-story-protest.jpg" alt="">
                <p class="blog-title">
                    Umuryango Imbonizarwo wahuje abahanzi bize ku Nyundo
                </p>
                <p class="blog-description">
                    It is a long established fact that a reader will be distracted by the readable 
                    content of a page when looking at its layout. The point of using Lorem Ipsum is 
                    that it has a more-or-less normal distribution of letters, as opposed to using 
                    'Content here, content here'.... <span class="read-more">Read more</span>
                </p>
            </div>

            <div class="blog">
                <img src="/img/00-story-protest.jpg" alt="">
                <p class="blog-title">
                    Umuryango Imbonizarwo wahuje abahanzi bize ku Nyundo
                </p>
                <p class="blog-description">
                    It is a long established fact that a reader will be distracted by the readable 
                    content of a page when looking at its layout. The point of using Lorem Ipsum is 
                    that it has a more-or-less normal distribution of letters, as opposed to using 
                    'Content here, content here'.... <span class="read-more">Read more</span>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}