{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="heading-section">
    <div class="container">
        <div class="heading-content">
            <h1 class="heading">COntact Us</h1>
        </div>
    </div>
</section>
<section class="get-in-touch" style="background-color: whitesmoke;">
    <div class="container">
        <div class="col-left">
            <h4 class="sub-heading">How can we help you</h4>
            <h1 class="heading">Get in touch</h1>
            <p>
                We are always open to answering your questions, receiving your feedback, ideas and advices.
                Feel free to contact us via our contact channels. You can fill the form and click send message to send a
                us a quick email.
            </p>

            <div class="contact-icons">
                <a href="mailto:info@imbonizarwo.org" class="icon-list">
                    <i class="fa fa-envelope-o"><span>info@imbonizarwo.org</span></i>
                </a>
                <a href="tel:+ 250 788 352 503" class="icon-list">
                    <i class="fas fa-phone-alt"><span>+ 250 788 352 503</span></i>
                </a>
                <a href="tel:+ 250 788 241 893" class="icon-list">
                    <i class="fas fa-phone-alt"><span>+ 250 788 241 893</span></i>
                </a>

                <a href="tel:+ 250 788 903 868" class="icon-list">
                    <i class="fas fa-phone-alt"><span>+ 250 788 903 868</span></i>
                </a>

                <div class="social-icons">
                    <a href="https://www.facebook.com/Imbonizarwo/" class="icon-list">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/imbonizarwo?s=11&t=N0kAftjYVy0BYPOHGiDE5g" class="icon-list">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a href="https://instagram.com/imbonizarwo?igshid=YmMyMTA2M2Y=" class="icon-list">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://youtube.com/channel/UCpUb64qdUlS9E2bPCRSHc8A" class="icon-list">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-right">
            <h4 class="form-description">Fill the form below and send a message. Our team well reach out you as soon as
                possible</h4>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="half-form-elements">
                    {{form.first_name}}
                    {{form.last_name}}
                </div>
                <div class="half-form-elements">
                    {{form.email}}
                    {{form.phone_number}}
                </div>
                <div class="full-form-elements">
                    {{form.client_message}}
                </div>
                <div class="half-form-elements">
                    <input class="submit-btn btn-green form-control" type="submit" value="Send your message">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}