{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="col-left">
            <h1>Imbonizarwo org</h1>
            <p>IMBONIZARWO (IZ) is a legally registered non-governmental
                 organization certified by the Rwanda Governance Board (RGB) 
                 with certificate number N0 :545/RGB/NGO/LP/10/2019 with 
                 overall objectives of Building Responsible Citizens through 
                 Arts, campaign and Interconnecting Generation. 
            </p>
            <div class="call-to-action">
                <a href="{% url 'about' %}">
                    <button class="learn-more btn-green">Learn more</button>
                </a>
                <a class="wath-video open-button" onclick="openForm()"><i class="fas fa-play-circle"></i>
                    <span>Watch the video </span></a>
            </div>
            <div class="imboni-video" id="imboni-video">
                <img onclick="closeForm()" src="{% static 'img/Close button.svg' %}" alt="">
                <div class="video">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/R6n8XMwq_Yc?autoplay=1" title="Our Ongoing Campaign of Girls Get Equal in Partnership with Plan International Rwanda 2021-2022" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="col-right">
            <div class="updates">
                <h3>Important Updates</h3>
                <ol class="updates-list">
                    {% for imporntant_update in imporntant_updates %}
                    <li><a href="{{imporntant_update.update_link}}" target="_blank"><img src="{% static 'img/icons/notification.gif' %}" alt="">{{imporntant_update.title}}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="vision-mission-about" style="background-color: whitesmoke;">
    <div class="container">
        <div class="col-left">
            <div class="card mission" style="background-color: white;">
                <h2 class="tittle"> Our Mission</h2>
                <p>
                    To create practical space of sharing experience in eradicating 
                    gender based violence, promoting creativity arts and media 
                    for positive changes and peace education towards building 
                    social –economically transformed community. 
                </p>
            </div>

            <div class="card vision" style="background-color: white;">
                <h2 class="tittle">Our Vision</h2>
                <p>
                    To build responsible citizens through
                     inter-connection of generations. 
                </p>
            </div>
        </div>

        <div class="col-right">
            <img src="{% static 'img/imbonizarwo members chatting.jpg' %}" alt="">
        </div>
    </div>
</section>

<section class="projects" id="projects">
    <div class="container">
        <div class="col-left">
            <h4 class="sub-heading">What we do</h4>
            <h1 class="heading">Our YouTube channel</h1>
            <p>
                We run multiple projects that mostly focus on our programs. 
                Our youth members do thier best to user their talent to 
                broadcast messages and advices accorss the country and region.
                Click on videos to view and listed to our messages, share 
                and subscribe for more upcoming projects 
            </p>
            <a href="https://www.youtube.com/channel/UCpUb64qdUlS9E2bPCRSHc8A/videos" target="_blank">
                <button class="btn-green">More projects</button>
            </a>

        </div>

        <div class="col-right">
            <div class="projects-card">
                <div class="project">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/16kfxKWClmw" title="UMURYANGO MUZIMA by IMBONI ZARWO 2022" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="project">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/rhmg57jzTN8" title="Nziriki official video 2021 by Imbonizarwo.org further partnership kindly contact us (0788352503)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="project">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/QbZx3WXN0Hk" title="WIMUROHA Official Video by Imbonizarwo.org ___ further partnership kindly contact us (0788352503)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="project">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/yjcOs5nrTQ8" title="UMWALI MWIZA Official Video by Imbonizarwo.org __Further partnership kindly contact us (0788352503)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="programs" id="programs">
    <div class="container">
        <h4 class="sub-heading white-color">What we focus on</h4>
        <h1 class="heading white-color"> Main operational programs</h1>
        <div class="programs-card">
            <div class="program">
                <h3 class="title">Primary health care</h3>
                <p>
                    Enhance primary health care services through campaign of fighting teenage pregnancies, STIs, Sanitation and Drug Abuse in Rwandan community 
                </p>
                <a href="{% url 'primary-health-care' %}"><button class="btn-green">Learn more</button></a>
            </div>

            <div class="program">
                <h3 class="title">Peace education</h3>
                <p>
                    Promoting the culture of Peace, Unity and Reconciliation Trough Arts/talents, dramatic performance and inter - generation dialogs focusing on History of Rwanda 
                </p>
                <a href="{% url 'peace-education' %}"><button class="btn-green">Learn more</button></a>
            </div>

            <div class="program">
                <h3 class="title">Art</h3>
                <p>
                    Promote learning by doing, through creative arts & talent development for educating and build capacity of young generation through awareness raising campaign 
                </p>
                <a href="{% url 'art' %}"><button class="btn-green">Learn more</button></a>
                
            </div>
        </div>
    </div>
</section>

<section class="stories" id="stories">
    <div class="container">
        <div class="col-left">
            <h4 class="sub-heading">What we teach</h4>
            <h1 class="heading">Successes Stories in 5 Years</h1>
            <p>
                We have been impacting sociaty since day one. Our with our partners, 
                the projects we run successfully have created a big impact 
                in maintaining peace, fighting against teen pregnancy, and 
                fighting gender based violance. Read the stories and feel 
                free to contact us if you feel like you want more from our 
                beneficiaries 
            </p>
            <a href="#contact"><button class="btn-green">More stories</button></a>
        </div>

        <div class="col-right">
            <div class="story-card">
                <div class="story first">
                    <p>
                        Over 200,000 teenagers and youth were physically and online educated through awareness
                        campaign, radio talks, YouTube channel and publications on the social media
                    </p>
                </div>
                <div class="story second">
                    <p>
                        Over 15,000 People was educated on hygiene and sanitation through the campaign organized by
                        Ministry of Local Government, Imbonizarwo and Rwanda Media Association
                    </p>
                </div>
                <div class="story third">
                    <p>
                        Over 50,000 Youth were reached and educated on the role of peace, unity and reconciliations
                        through awareness campaign, short term training and Arts
                    </p>
                </div>
                <div class="story fourth">
                    <p>
                        Over 80 needy families were materially and finally supported through our continuous annual
                        chartable act conducted through partnership with KASNEB Rwanda
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-involved">
    <div class="container">
        <h4 class="sub-heading white-color">You want to help?</h4>
        <h1 class="heading white-color">Get Involved</h1>
        <p>
            Are you interested in shaping and leading the ultimate
            youth campaign of building social economic development
            of Rwanda mainly in providing reliable solutions in in 
            prevention of teenage pregnancies, enhancing primary 
            health care services and enhancing children and girls’ 
            rights? 
        </p>

        <a href="{% url 'get-involved' %}"><button class="btn-green">Get involved</button></a>
    </div>
</section>

<section class="blog">
    <div class="container">
        <h4 class="sub-heading">Some news</h4>
        <h1 class="heading">Blog</h1>
        <div class="blogs">
            {% for blog in blogs %}
            <a href="{% url 'single-blog' blog.id %}">
                <div class="blog">
                    <img src="{{blog.featured_image.url}}" alt="">
                    <p class="blog-title">
                        {{blog.title|truncatechars:60}} 
                    </p>
                    <p class="blog-description">
                        {{blog.excerpt|truncatechars:150}}<span class="read-more">Read more <i class="fas fa-angle-double-right"></i></span>
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <h4 class="sub-heading white-color">We don't do this alone</h4>
        <h1 class="heading white-color">Our partners</h1>
        <div class="partners-card">
            <div class="partner-logo">
                <img src="{% static 'img/partners/rwanda.png' %}" alt="">
                <img src="{% static 'img/partners/plan.png' %}" alt="">
                <img src="{% static 'img/partners/sweden.png' %}" alt="">
                <img src="{% static 'img/partners/salus.jpg' %}" alt="">
                <img src="{% static 'img/partners/ur.png' %}" alt="">
                <img src="{% static 'img/partners//kasneb.png' %}" alt="">
            </div>
        </div>
        <a href="{% url 'get-involved' %}"><button class="btn-green">Get involved</button></a>
    </div>
</section>

<section class="get-in-touch" id="contact">
    <div class="container">
        <div class="col-left">
            <h4 class="sub-heading">How can we help you</h4>
            <h1 class="heading">Get in touch</h1>
            <p>
                We are always open to answering your questions, receiving your feedback, ideas and advices. Feel free to contact us via our contact channels. You can fill the form and click send message to send a us a quick email. 
            </p>

            <div class="contact-icons">
                <a href="mailto:info@imbonizarwo.org" class="icon-list">
                    <i class="fa fa-envelope-o"><span>info@imbonizarwo.org</span></i>
                </a>
                <a href="tel:+ 250 788 352 503" class="icon-list">
                    <i class="fas fa-phone-alt"><span>+ 250 788 352 503</span></i>
                </a>
                <a href="tel:+ 250 788 241 893" class="icon-list">
                    <i class="fas fa-phone-alt"><span>+ 250 788 241 893</span></i>
                </a>

                <a href="tel:+250 786 236 090" class="icon-list">
                    <i class="fas fa-phone-alt"><span>+250 786 236 090</span></i>
                </a>
                
                <div class="social-icons">
                    <a href="https://www.facebook.com/Imbonizarwo/" class="icon-list">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/imbonizarwo?s=11&t=N0kAftjYVy0BYPOHGiDE5g" class="icon-list">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a href="https://instagram.com/imbonizarwo?igshid=YmMyMTA2M2Y=" class="icon-list">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://youtube.com/channel/UCpUb64qdUlS9E2bPCRSHc8A" class="icon-list">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-right">
            <h4 class="form-description">Fill the form below and send a message. Our team well reach out you as soon
                as possible</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="half-form-elements">
                        {{form.first_name}}
                        {{form.last_name}}
                    </div>
                    <div class="half-form-elements">
                        {{form.email}}
                        {{form.phone_number}}
                    </div>
                    <div class="full-form-elements">
                        {{form.client_message}}
                    </div>
                    <div class="half-form-elements">
                        <input class="submit-btn btn-green form-control" type="submit" value="Send your message">
                    </div>
                </form>
        </div>
    </div>
</section>
{% endblock %}