{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login</title>
</head>
<body>
    <section class="login-section">
        <div class="container">
            <h1 class="heading white-color">Login</h1>
            <p class="login-decription">
                IMBONIZARWO member login.
                Enter your username and password,
                then click login button
            </p>
            <form action="">
                <input class="form-control" type="text" placeholder="Username">
                <input class="form-control" type="password" name="" id="" placeholder="Password">
                <input class="btn btn-green btn-login" type="submit" value="Login">
            </form>
        </div>
    </section>
</body>
</html>