{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="heading-section">
    <div class="container">
        <div class="heading-content">
            <h1 class="heading">Peace Education</h1>

            <p>
                Because of You, over 50,000 young people was reached and educated on the 
                role of peace, unity and reconciliations through awareness campaign, short 
                term training and Arts
            </p>
        </div>
    </div>
</section>

<section class="p-content">
    <div class="container">
        <p>
            Imbonizarwo Organization is striving for empowering citizens to become 
             maker and non-violent means of resolving conflict, building trust and 
             critical thinking of young Generation in decision making with peace 
             inclusion;  
        </p>
        <p>
            Through peacebuilding pillar, we train our beneficiaries, especially young 
            people in in High Schools, Universities and community in village to become 
            agent of peace. We achieve this through strategies of using awareness raising 
            campaign: Arts (Music, Dramatic Performances, Poems and Public Talks) we have 
            a determined team of youth specialized in arts who use to transmit the message 
            in arts works, music, ….
        </p>
        <p>
            We created a freed space of gaining peace histories through our program themed 
            inter-generational peace Dialogs which bring together youth (Young people), 
            Old people and peace makers towards discussing on their role in building peacefully 
            community we want in the future of Rwanda and Region in General; 
        </p>
        <p>
            We most of the time do this in the High Schools, Universities and Youth Centers 
            to make sure that current generations are going with peaceful mind of addressing 
            problems with zero violence; 
        </p>
        <p>
            During the implementation of this program, we use published research in 
            field of peace towards addressing the knowledge gap in community about peace, 
            Unity and Reconciliations as well as empowering them to become an agent of peace 
            makers in the community around them.
        </p>
        <p>
            We are open to collaborate with different government entities, 
            Non-Government Organization and national Civil Society Organizations, 
            media, academia, youth-led organizations towards enhancing sustainable 
            peace in Rwanda Community
        </p>
        <a href="{% url 'get-involved' %}"><button class="btn-green">Get involved</button></a>
    </div>

</section>
{% endblock %}