{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="heading-section">
    <div class="container">
        <div class="heading-content">
            <h1 class="heading">Primary health care services</h1>
        </div>
    </div>
</section>

<section class="p-cards">
    <div class="container">
        <div class="card">
            <a href="#sbvg">
                <h1 class="heading">SGBV, SRHR and Teenage pregnancies</h1>
                <p>
                    We mostly focusing on the critical issues of child sexual
                    based violence which includes: Teenage pregnancies, STIs and
                    SRHR to the youth ranging 13 – 25th Years Old and this is
                    mostly located in the High Schools and Universities;
                </p>

                <p>
                    Imbonizarwo organization focusing on educating teenagers to prevent 
                    health critical issues through identify the situation which can 
                    resulted into sexual based violence, ways of reporting the 
                    situation with facts, we educated them on the sexual reproductive 
                    health, contraceptive methods and preventions of associated risks 
                    in case they get into violence within recommended hours of avoiding pregnancies, 
                    transmission of HIV/AIDS
                </p>

                <p>
                    We implement the above programs through practical strategies of using 
                    artist with music containing educative message, Poems and dramatic 
                    performances that can easily attract and capture the interest of 
                    teenagers
                </p>
                <p>
                    During the campaign, trainings, workshops, and pear to pear 
                    education…. We use to educated them through live testimonial 
                    of these who get into violence and managed to deal with such 
                    situation; 
                </p>
                <p>
                    We most of the time do this in the High Schools, Universities and Youth Centers
                    to make sure that current generations are going with peaceful mind of addressing
                    problems with zero violence;
                </p>
                <p>
                    During the implementation of this program, we use published research in
                    field of peace towards addressing the knowledge gap in community about peace,
                    Unity and Reconciliations as well as empowering them to become an agent of peace
                    makers in the community around them.
                </p>
                <p>
                    We mostly use to re-connect the parent and violated teenagers 
                    through dialogs, consistency canceling and material assistance 
                    where needed for
                </p>
                <a href="{% url 'get-involved' %}"><button class="btn-green">Get involved</button></a>
            </a>
        </div>
        <div class="card">
            <a href="#sexual">
                <h1 class="heading">Sexual transmitted desease</h1>
                <p>
                    Following sub program of fighting against teenage pregnancies,
                    Imbonizarwo also includes the critical issue of fighting HIV/AIDS,
                    STIs and Viral Hepatitis Division. Most of the time this program
                    implemented in the Levels of Education and Youth Centers
                </p>

                <p>
                    Imbonizarwo organization focusing on educating teenagers to prevent 
                    health critical issues through identify the situation which can 
                    resulted into sexual based violence, ways of reporting the 
                    situation with facts, we educated them on the sexual reproductive 
                    health, contraceptive methods and preventions of associated risks 
                    in case they get into violence within recommended hours of avoiding pregnancies, 
                    transmission of HIV/AIDS
                </p>
                <p>
                    We implement the above programs through practical strategies of using 
                    artist with music containing educative message, Poems and dramatic 
                    performances that can easily attract and capture the interest of 
                    teenagers
                </p>
                <p>
                    During the campaign, trainings, workshops, and pear to pear 
                    education…. We use to educated them through live testimonial 
                    of these who get into violence and managed to deal with such 
                    situation; 
                </p>
                <p>
                    We most of the time do this in the High Schools, Universities and Youth Centers
                    to make sure that current generations are going with peaceful mind of addressing
                    problems with zero violence;
                </p>
                <p>
                    During the implementation of this program, we use published research in
                    field of peace towards addressing the knowledge gap in community about peace,
                    Unity and Reconciliations as well as empowering them to become an agent of peace
                    makers in the community around them.
                </p>
                <p>
                    We mostly use to re-connect the parent and violated teenagers 
                    through dialogs, consistency canceling and material assistance 
                    where needed for
                </p>
                <a href="{% url 'get-involved' %}"><button class="btn-green">Get involved</button></a>
            </a>
        </div>
        <div class="card">
            <a href="#sexual">
                <h1 class="heading">Fighting drug abuse</h1>
                <p>
                    The Imbonizarwo Organization implements this programs through working with people who get involved in drug consumption, drugs dealers towards educating young generations on the impacts of drugs and how they destroy lives; 
                    This is than through creative arts for campaigning the positive changes in the community and sharing facts on drugs 

                </p>

                <p>
                    Our expected end results are to develop a transformative generation with no drugs who will be capable of safeguarding the mental wellbeing of all Rwandans through prevention, sustainable campaign on mental health education, and possibly working with rehabilitation center and support to those with mental illness due to the consumption of drugs.
                </p>

                <p>
                    Imbonizarwo Organization is open to work with government institutions which are focusing on this critical issues towards eradicating its under triple partnership of Community Mental Rehabilitation Unit works, Civil Society Organization and Government as we as media.
                </p>
                <p>
                    As most of the young generation are attracted by the use of media, we also created a practical platform which help us to educates them and this is sustainable, consistency with focus positive change message.
                </p>
                <a href="{% url 'get-involved' %}"><button class="btn-green">Get involved</button></a>
            </a>
        </div>
    </div>
</section>
{% endblock %}