{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="thank-you">
        <div class="container">
            <h1 class="heading">Thank you!</h1>
            <p>Thank you for contacting us. We received your message, and someone in charge from our team will reah out to you as soon as possible</p>
            <div class="social-media">
                <h1 class="heading">Follow Us</h1>
                <div class="social-media-icons">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-youtube-square"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}