{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="head-seaction">
    <div class="empty">I am empty</div>
</section>
<section class="application-form">
    <div class="container">
        <h1 class="heading">Application for voluteering</h1>
        <p>
            Are you interested in shaping and leading the ultimate youth campaign of building social economic
            development of Rwanda mainly in providing reliable solutions in in prevention of teenage pregnancies,
            enhancing primary health care services and enhancing children and girls’ rights?
            Imbonizarwo is actively looking for passionate young activists and change makers mainly living in Kigali
            City, Muhanga, Rwamagana, Nyamata and Musanze to be part of ultimate campaign on youth-led collective action
            for fighting teenage Pregnancies and sexual reproductive health.
            This unpaid internship covering a period of Six Months, One-year or two years volunteering opportunity in
            Imbonizarwo youth Organization’s initiatives in according to your choice.
        </p>

        <h2>Duties and responsibilities</h2>

        <p>
            To support the management of Imbonizarwo to accomplish its goal through assistance in project development,
            partnership mapping both local & global, assistance in project implementation and assistance in reporting
            towards enhancing the organization long term vision.
        </p>

        <div class="volunttering-form">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="half-form-elements">
                    <div>
                        {{form.first_name}}
                    </div>
                    <div>
                        {{form.last_name}}
                    </div>
                    <div>
                        {{form.email}}
                    </div>
                    <div>
                        {{form.phone_number}}
                    </div>
                    <div>
                        {{form.nationality}}
                    </div>
                    <div>
                        {{form.current_adress}}
                    </div>
                </div>
                <div class="half-form-elements">
                    <div>
                        {{form.level_of_education}}
                    </div>
                    <div>
                        {{form.specialization}}
                    </div>
                    <div>
                        {{form.graduation_country}}
                    </div>
                </div>
                <div class="full-form-elements">
                    <div>
                        {{form.experience}}
                    </div>
                    <div>
                        {{form.consept_note}}
                    </div>
                </div>
                <div class="half-form-elements">
                    <div>
                        {{form.owns_a_computer}}
                    </div>
                    <div>
                        {{form.cv}}
                    </div>
                </div>
            </div>
        </div>

                <input type="submit" value="Apply">
            </form>
        </div>
    </div>
</section>
{% endblock %}